<div
  class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-2xl min-h-fit sm:rounded-lg sm:px-10">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</div>